<p id="notice"><%= notice %></p>

<h1>Welcome to iBay!</h1>
<h2>The internet site for all your technological needs.</h2>

<% unless logged_in? %>
<p><%= link_to "Log in", '/login'%> to start selling and buying!</p>
<p>Don't have an account?
<%= link_to 'Sign up now!', new_user_path %></p>
<% end %>
